main {
  border: 1px solid #3d5466;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forget-password-link {
  color: $primary-color;
  text-decoration: none;
}

.btn-login {
  margin-left: 15px;
  margin-right: 15px;
  @include btn-variant($primary-color, transparent, $primary-color);
}

.btn-register {
  @include btn-variant($white, $primary-color, transparent);
  margin-left: 15px;
  margin-right: 15px;
}

.or {
  text-align: center;
}
